<DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

         <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <link rel="stylesheet" type="text/css" href="leaflet/leaflet.css" />
      <script type="text/javascript" src="leaflet/leaflet.js"></script>
    </head>
    <body>
      <h2>Relation <%= relation.osm_id %> </h2>
      <ul>
        <li><a href="http://www.openstreetmap.org/relation/<%= relation.osm_id  %>">view original relation is OSM</a></li>
        <li><a href="relation-<%= relation.osm_id  %>.html">inspect relation which served to generate this journey</a></li>
        <li><a href="journey-<%= relation.osm_id  %>.gpx">download gpx for this journey</a></li>
      </ul>
      <div id="map" style="width:100%; height: 600px"></div>
      
      <p><a href="https://github.com/sk-vpohybe/osm-relation-utils">source code is here</a></p>

      <script>
        var map;
        var ajaxRequest;
        var plotlist;
        var plotlayers = [];

        function initmap() {
          // set up the map
          map = new L.Map('map');

          // create the tile layer with correct attribution
          var osmUrl = 'http://freemap.sk/C/{z}/{x}/{y}.png';
          var osm = new L.TileLayer(osmUrl, {minZoom: 2, maxZoom: 16});

          map.setView(new L.LatLng(<%= journey_points.first.lat  %>, <%= journey_points.first.lon  %>), 14);
          map.addLayer(osm);
          <% pts = []; t = 100 %>
          <% journey_points.each_cons(2) do |n1, n2|  %>
            <% t += 30
            l1 = "L.polyline([new L.LatLng(#{n1.lat},#{n1.lon}), new L.LatLng(#{n2.lat},#{n2.lon})], {color: 'blue', weight: 15, opacity: 0.1}).addTo(map);"
            l2 = "setTimeout(function(){#{l1}}, #{t});"
            pts << l2
          %>
          <% end %>
          
          <%= pts.join "\n" %>
        }

        initmap();
      </script>
    </body>
  </html>